body {
  /* font-family: inherit; */
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  padding: 2rem 10em 2em 10em;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h1 a {
  color: black;
}

h1 a:hover {
  color: #b57281;
}

a {
  color: #b57281;
}

footer {
  font-size: 12px;
}

.card {
  margin-top: 25px;
}

#about {
  margin-top: 60px;
}

#about-text {
  padding: 50px;
}

#site-title {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

#discog {
  margin-top: 60px;
  font-family: inherit;
}

#portfolio {
  font-family: Arial, sans-serif;
}

@media (max-width: 770px) {

  #about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-img {
    padding: 0;
    margin: 0;
  }

  #about-text {
    padding: 50px 0 0 0;
    margin: 0;
    ;
  }

}